/Debug/
/Debug profile/
/FastBuild/
/Release/
BasicRenderEngine.trace
RunGPUPerfStudio.bat
/BasicRenderEngine.1.trace
/BasicRenderEngine.lnk
/GPU PerfStudio.lnk
/log.txt
/Debug profile/
/gmon.out
/CMakeBuild/
/docs/
/.cproject
/.project
/.settings/
